/*body{background:rgba(0,0,0,.5)}
*/#dateList{height:400px;width:450px;position:relative; margin:10px auto;list-style: none;}
#dateList li{position:absolute;top:0px;left:0px;color:#000;font-weight:bold;padding:3px 6px;overflow: hidden;white-space: nowrap;}
#div1 li:hover{border:1px solid #eee;background:#000;border-radius:5px;}
